body{
	background-image:url(../img/white-background.jpg);
	
	background-size: 100% 100%;
}
.title {
	font-size: 2em;
	text-align: center;
}

.subtitle {
	font-size: 1em;
	text-align: center;
}

td, th {
	vertical-align: middle !important;
	text-align: center !important;
}

.input-group {
	margin: 20px 0px;
}

svg {
	height: 150px;
	width: 200px;
}

/*Google Maps*/
td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}

.header img{
   position: relative; 
   width: 100%; /* for IE 6 */
}


.titleBox { 
   margin-top: 20px; 
}


